:plain
  // Alert
  $('.ajax').removeClass('alert-success').removeClass('alert-danger')
  $('.ajax').addClass('alert-#{@message[:type]}')
  $('.alert-content').html('#{@message[:text]}')
  $('.ajax').velocity('transition.slideDownIn', 400);

- if @message[:type] == 'success'
  :plain
    $('.clock_in').velocity('transition.slideDownOut', 400);
    $('.clock_out').delay(400).velocity('transition.slideUpIn', 400);