:plain
  // Alert
  $('.ajax').removeClass('alert-success').removeClass('alert-danger')
  $('.ajax').addClass('alert-#{@message[:type]}')
  $('.alert-content').html('#{@message[:text]}')
  $('.ajax').velocity('transition.slideDownIn', 400);

- if @message[:type] == 'success'
  :plain
    // Transition forms
    $('.clock_in').velocity('transition.slideDownOut', 400);
    $('.clock_out').delay(400).velocity('transition.slideUpIn', 400);
    $('.employee-history').delay(400).velocity('transition.slideUpIn', 400);

    $('.clock_out .panel-body').html("#{escape_javascript(render 'time_logs/clock_out')}")

    clearInterval(window.timer)
    window.elapsed = 0
    $('.elapsed-time').html(moment().hours(0).minutes(0).seconds(elapsed).format('HH:mm:ss'))
    window.timer = setInterval(function() {
      $('.elapsed-time').html(moment().hours(0).minutes(0).seconds(elapsed++).format('HH:mm:ss'))
    }, 1000)