- if @message[:type] == 'success'
  :plain
    // Transition forms
    $('.clock_in').velocity('transition.slideDownOut', 400);
    $('.clock_out').delay(400).velocity('transition.slideUpIn', 400);
    $('.employee-history').delay(400).velocity('transition.slideUpIn', 400);

    $('.clock_out .panel-body').html("#{escape_javascript(render 'time_logs/clock_out')}")

    clearInterval(window.timer)
    window.timer = setInterval(function() {
      $.ajax({
        url: "/time_logs/" + $('.elapsed-time').data('id') + "/get_time",
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          $('.elapsed-time').text(data['display_duration']);
        }
      });
    }, 500)

:plain
  // Alert
  $('.ajax').removeClass('alert-success').removeClass('alert-danger')
  $('.ajax').addClass('alert-#{@message[:type]}')
  $('.alert-content').html('#{@message[:text]}')
  $('.ajax').velocity('transition.slideDownIn', 400);
