- if @message[:type] == 'success'
  :plain
    $("#{escape_javascript(render 'users/new_row')}").insertAfter($('.users tr:last'))
    $('.inserted:last').velocity('transition.slideUpIn', 400)
    $('.form-inputs input').val('')
- else
  :plain
    $('.new-user-form').html("#{escape_javascript(render 'users/form')}")

:plain
  // Alert
  $('.ajax').removeClass('alert-success').removeClass('alert-danger')
  $('.ajax').addClass('alert-#{@message[:type]}')
  $('.alert-content').html('#{@message[:text]}')
  $('.ajax').velocity('transition.slideDownIn', 400);

  $('.ajax .close').click(function() {
    $('.ajax').velocity('transition.slideUpOut', 400);
  })