.row
  .col-sm-6.col-sm-offset-3
    %h1 Sign in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin', role: 'form', autocomplete: 'off'}, defaults: {input_html: {class: 'form-control bottom-10px'}}) do |f|
      = f.input :email, required: true, label: false, placeholder: 'Email', autofocus: true
      = f.input :password, required: true, label: false, placeholder: 'Password', input_html: {type: 'password'}
      = f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block top-10px'