/* SASS */
$white: #FFFFFF;
$black: #000000;

$collapse: 783px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin collapse { @media (max-width: $collapse) { @content } }
@mixin sm { @media (min-width: $sm) { @content } }
@mixin md { @media (min-width: $md) { @content } }
@mixin lg { @media (min-width: $lg) { @content } }

/* Convenience */
.white { color: $white; }
.black { color: $black; }

.bg-white { background: $white; }
.bg-black { background: $black; }

.margin-0 { margin: 0; }

.top--2px { margin-top: -2px; }
.top-0 { margin-top: 0; }
.top-3px { margin-top: 3px; }
.top-5px { margin-top: 5px; }
.top-7px { margin-top: 7px; }
.top-10px { margin-top: 10px; }
.top-15px { margin-top: 20px; }
.top-20px { margin-top: 20px; }
.top-25px { margin-top: 25px; }
.top-30px { margin-top: 30px; }

.left-0 { margin-left: 0; }
.left-5px { margin-left: 5px; }
.left-10px { margin-left: 10px; }
.left-15px { margin-left: 15px; }
.left-20px { margin-left: 20px; }
.left-30px { margin-left: 30px; }

.right-0 { margin-right: 0; }
.right-5px { margin-right: 5px; }
.right-10px { margin-right: 10px; }
.right-15px { margin-right: 15px; }
.right-30px { margin-right: 30px; }

.bottom-0 { margin-bottom: 0; }
.bottom-10px { margin-bottom: 10px; }
.bottom-20px { margin-bottom: 20px; }

.padding-0 { padding: 0; }
.padding-2px { padding: 2px; }
.padding-5px { padding: 5px; }
.padding-10px { padding: 10px; }
.padding-15px { padding: 15px; }
.padding-20px { padding: 20px; }
.padding-left-right-5px { padding-left: 5px; padding-right: 5px; }
.padding-left-right-15px { padding-left: 15px; padding-right: 15px; }
.padding-left-right-25px { padding-left: 25px; padding-right: 25px; }

.line-through { text-decoration: line-through; }

.strong { font-weight: bold; }

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.table-cell {
  width: inherit;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
.relative { position: relative; }
.absolute { position: absolute; }
.weak { font-weight: normal; }

.auto { margin: auto; }

.scroll-y { overflow-y: scroll; }

// Overrides
.panel-heading {
  font-weight: bold;
}

.table {
  margin-bottom: 0;
}

// Alerts
.alert.ajax {
  display: none;
}

// Table

tr.inserted {
  display: none;
}

.employee-history {
  display: none;
  &.display {
    display: block;
  }
}

// Firefox Responsive Table
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}